.header {
    background-color: #2b669a;
    height:120px;
    width:100%;
}
.button-1 {
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:30px;
    margin-left: 30px;
}
.button-1:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.button-1:focus{
    outline: dashed;
}
.button {
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:30px;
}
.button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.button:focus{
    outline: dashed;
}
.logo {
    float:left;
}
.nav {
    float:right;
    margin-right:40px;
}
.container {
    width:100%;
}
.left {
    width:50%;
    float:left;
    height: 70%;
    text-align: justify;
}
.left p{
    padding-right: 20px;
}

.right {
    width:50%;
    float:left;
    height:70%;
    text-align: justify;
}
#food{
    float:left;
    height:150px;
    width:200px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-right:20px;
}
.clear {
    clear: both;
}
.footer {
    background-color: steelblue;
    color: white;
    height:120px;
    width:100%;
}
.footer p{
    padding-top:50px;
    text-align: center;
}

.welcome{
    color: purple;
    text-align: center;
}
.Great-Food{
    color: purple;
    text-align: center;
}

@media screen and (max-width: 736px){
    .right {
        width: 100%;
    }
    .left {
        width: 100%;
    }
    .header{
        width:100%;
        height:450px;
    }
    .logo{
        width:100%;
    }
    .button{
        width:82%;
        display: block;
        float:left;
        margin-left:30px;
        text-align: center;
    }

}


@media screen and (max-width: 280px){
    .button-1{
        width: 25%;
    }
    .welcome{
        color: purple;
        text-align: center;
    }
    .Great-Food{
        color: purple;
        text-align: center;
    }
    img{
        margin-left: 3%;
        margin-bottom: 15px;
    }
    .top-p{
        padding-left: 20px;
        background-color: #f7e9e3;
        padding: 15px;
    }
    .bottom-p{
        padding-left: 20px;
        padding-right: 20px;
        background-color: #f7e9e3;
        padding: 15px;
    }
}

@media screen and (max-width: 540px){
    .button-1{
        padding-right: 33%;
        margin-left: 100px;
    }
    .nav{
        margin-left: 70px;
    }
    .welcome{
        color: purple;
        text-align: center;
    }
    .Great-Food{
        color: purple;
        text-align: center;
    }
    img{
        margin-left: 3%;
        margin-bottom: 15px;
    }
    .top-p{
        padding-left: 20px;
        background-color: #f7e9e3;
        padding: 15px;
    }
    .bottom-p{
        padding-left: 20px;
        padding-right: 20px;
        background-color: #f7e9e3;
        padding: 15px;
    }
}

@media screen and (max-width: 280px){
    .button-1{
        width: 25%;
    }
    .welcome{
        color: purple;
        text-align: center;
    }
    .Great-Food{
        color: purple;
        text-align: center;
    }
    img{
        margin-left: 3%;
        margin-bottom: 15px;
    }
    .top-p{
        padding-left: 20px;
        background-color: #f7e9e3;
        padding: 15px;
    }
    .bottom-p{
        padding-left: 20px;
        padding-right: 20px;
        background-color: #f7e9e3;
        padding: 15px;
    }
}

@media screen and (max-width: 600px){
    .button-1{
        padding-right: 39%;
        margin-left: 100px;
    }
    .nav{
        margin-left: 70px;
    }
    .welcome{
        color: purple;
        text-align: center;
    }
    .Great-Food{
        color: purple;
        text-align: center;
    }
    img{
        margin-left: 3%;
        margin-bottom: 15px;
    }
    .top-p{
        padding-left: 20px;
        background-color: #f7e9e3;
        padding: 15px;
    }
    .bottom-p{
        padding-left: 20px;
        padding-right: 20px;
        background-color: #f7e9e3;
        padding: 15px;
    }
}

@media screen and (max-width: 462px){
    .button-1{
        padding-right: 26%;
        margin-left: 100px;
    }
    .nav{
        margin-left: 70px;
    }
    .welcome{
        color: purple;
        text-align: center;
    }
    .Great-Food{
        color: purple;
        text-align: center;
    }
    img{
        margin-left: 3%;
        margin-bottom: 15px;
    }
    .top-p{
        padding-left: 20px;
        background-color: #f7e9e3;
        padding: 15px;
    }
    .bottom-p{
        padding-left: 20px;
        padding-right: 20px;
        background-color: #f7e9e3;
        padding: 15px;
    }
}

@media screen and (max-width: 734px){
    .button-1{
        padding-right: 26%;
        margin-left: 100px;
    }
    .nav{
        margin-left: 70px;
    }
    .welcome{
        color: purple;
        text-align: center;
    }
    .Great-Food{
        color: purple;
        text-align: center;
    }
    img{
        margin-left: 3%;
        margin-bottom: 15px;
    }
    .top-p{
        padding-left: 20px;
        background-color: #f7e9e3;
        padding: 15px;
    }
    .bottom-p{
        padding-left: 20px;
        padding-right: 20px;
        background-color: #f7e9e3;
        padding: 15px;
    }
}






html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
}

img {
    max-width: 100%;
}

.slider-container{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 150px;
}

.menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50px;
    margin: 0 .2em 1em;
}


.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s .75s;
}

[id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
}

.slide-1 {
    background-image: url("http://ihom.me/wp-content/uploads/2018/04/ice-cream-tub-sizes-easiest-way-to-do-this-is-to-find-a-bowl-that-is-approximately-the-same-size-as-your-pie-crust-scoop-about-3-4-of-a-tub-of-ice-cream-into-the-bowl-walls-ice-cream-tub-size.jpg");
    width: 100%;
    height: 60%;
}
.slide-2 {
    background-image: url("https://www.learntomakeicecream.com/wp-content/uploads/2016/01/chocchip_gimp_final-1024x679.jpg");
    width: 100%;
    height: 60%;
}
.slide-3 {
    background-image: url("http://craftsandcake.com/wp-content/uploads/2016/12/DSC_0124-1024x679.jpg");
    width: 100%;
    height: 60%;
}

.column {
    float: left;
    width: 30%;
    left:2%;
    position: relative;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    margin: 5px;
}
.column:hover{
    opacity: .8;
    cursor: pointer;
    color: white;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 912px){
        .column{
            width: 100%;
        }
}

.vinay{
    background-color: purple;
    text-align: center;
    padding: 20px;
    color: white;
}
.vinay:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
